
@import"./resect.css";
header{
    width: 100%;
    overflow: hidden;
    background-color: #326F74;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header h1{
    width: 88px;
    height: 43px;
    margin: 0 300px;
}
header h1 span{
    display: block;
    width: 1px;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0;
}
header nav{
    width: 50%;
    overflow: hidden;
    background-color: yellow;

}
